In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
import requests
from pandas import to_datetime
from time import sleep

In [2]:
engine = sql.create_engine('mysql+mysqlconnector://tom:123@192.168.1.74:3306/trades')

In [3]:
engine2 = sql.create_engine('mysql+mysqlconnector://tom:123@192.168.1.74:3306/trades2')

In [25]:
query_test = '''
                 SELECT 
                 LEFT(created_at, 19)  AS created_at,
                 price,maker_side,amount,pesos
                 FROM btc_trades LIMIT 0,500
'''

In [26]:
data = pd.read_sql(query_test,engine)

In [27]:
data['created_at'] = to_datetime(data['created_at'])

In [28]:
data

             created_at     price maker_side    amount       pesos
0   2020-09-11 19:50:05  220667.0       sell  0.001798   396.78800
1   2020-09-11 19:51:17  220816.0       sell  0.001691   373.46200
2   2020-09-11 19:51:22  220816.0       sell  0.000030     6.72385
3   2020-09-11 19:51:27  220770.0        buy  0.001000   220.77000
4   2020-09-11 19:51:28  220770.0        buy  0.000337    74.44590
..                  ...       ...        ...       ...         ...
495 2020-09-12 09:50:52  221274.0       sell  0.018529  4100.01000
496 2020-09-12 09:50:56  221273.0       sell  0.000294    64.99890
497 2020-09-12 09:51:11  221272.0       sell  0.000453   100.24900
498 2020-09-12 09:51:19  221272.0       sell  0.000452    99.99950
499 2020-09-12 09:52:03  221234.0        buy  0.002196   485.82500

[500 rows x 5 columns]

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  500 non-null    datetime64[ns]
 1   price       500 non-null    float64
 2   maker_side  500 non-null    object
 3   amount      500 non-null    float64
 4   pesos       500 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 19.7+ KB

In [30]:
x = 0  # Offset
y = 250000  # Number of rows

while x <= 1000000:
    #print('x equals: {}'.format(x), 'y equals: {}'.format(y))
    query = '''

                            SELECT LEFT(created_at, 19)  AS created_at,
                 price,maker_side,amount,pesos
                 FROM btc_trades ORDER BY created_at ASC
                 LIMIT {}, {}


'''.format(x,y)    # Initial parameters x=> 0; y=> 250,000
    
    print(query)
    
    df = pd.read_sql(query,engine)   # Retrieve data from trades db
    
    df.info()
    
    df['created_at'] = to_datetime(df['created_at'])
    df['date'] = df['created_at'].dt.date
    df['time'] = df['created_at'].dt.time
     
    df.info()
    
    intial_q = """INSERT INTO btc_test
( created_at,date,time,price)
VALUES
"""
    values_q = ",".join(["""('{}','{}','{}','{}')""".format(
        row.created_at,
        row.date,
        row.time,
        row.price ) for idx, row in df.iterrows()])

    query = intial_q + values_q 

    engine2.execute(query)
    
    x += 250000   # Offset increases by 250,000 each time

                            SELECT LEFT(created_at, 19)  AS created_at,
                 price,maker_side,amount,pesos
                 FROM btc_trades ORDER BY created_at DESC
                 LIMIT 0, 250000



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  object
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
dtypes: float64(3), object(2)
memory usage: 9.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  datetime64[ns]
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
 5   date        250000 non-null  object
 6   time        250000 non-null  object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 13.4+ MB


                            SELECT LEFT(created_at, 19)  AS created_at,
                 price,maker_side,amount,pesos
                 FROM btc_trades ORDER BY created_at DESC
                 LIMIT 250000, 250000



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  object
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
dtypes: float64(3), object(2)
memory usage: 9.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  datetime64[ns]
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
 5   date        250000 non-null  object
 6   time        250000 non-null  object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 13.4+ MB


                            SELECT LEFT(created_at, 19)  AS created_at,
                 price,maker_side,amount,pesos
                 FROM btc_trades ORDER BY created_at DESC
                 LIMIT 500000, 250000



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  object
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
dtypes: float64(3), object(2)
memory usage: 9.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  datetime64[ns]
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
 5   date        250000 non-null  object
 6   time        250000 non-null  object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 13.4+ MB


                            SELECT LEFT(created_at, 19)  AS created_at,
                 price,maker_side,amount,pesos
                 FROM btc_trades ORDER BY created_at DESC
                 LIMIT 750000, 250000



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  object
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
dtypes: float64(3), object(2)
memory usage: 9.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  datetime64[ns]
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
 5   date        250000 non-null  object
 6   time        250000 non-null  object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 13.4+ MB


                            SELECT LEFT(created_at, 19)  AS created_at,
                 price,maker_side,amount,pesos
                 FROM btc_trades ORDER BY created_at DESC
                 LIMIT 1000000, 250000



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  object
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
dtypes: float64(3), object(2)
memory usage: 9.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  datetime64[ns]
 1   price       250000 non-null  float64
 2   maker_side  250000 non-null  object
 3   amount      250000 non-null  float64
 4   pesos       250000 non-null  float64
 5   date        250000 non-null  object
 6   time        250000 non-null  object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 13.4+ MB

In [ ]:
x = 500000
y = 250000
  

while x <= 1000000:
    #print('x equals: {}'.format(x), 'y equals: {}'.format(y))
    query = '''

                             SELECT created_at, price
                             FROM btc_trades 
                             ORDER BY created_at DESC
                             LIMIT {},{}


'''.format(x,y)    # Initial parameters x=> 0; y=> 250,000
    
    print(query)
    
    df = pd.read_sql(query,engine)   # Retrieve data from trades db
    #df.info() 
    #sleep(60)
    df['created_at'] = to_datetime(df['created_at'])
    df['date'] = df['created_at'].dt.date
    df['time'] = df['created_at'].dt.time
    
    #print(df.head(n=5)) 
    df.info()
    
    intial_q = """INSERT INTO btc_trades
( created_at,date,time,price)
VALUES
"""
    values_q = ",".join(["""('{}','{}','{}','{}')""".format(
        row.created_at,
        row.date,
        row.time,
        row.price ) for idx, row in df.iterrows()])


    query = intial_q + values_q 

    #engine2.execute(query)
    
    x += 250000   # Offset increases by 250,000 each time 
    #y  = 250000

#  Query to count total of rows

In [31]:
query = '''select count(*) from btc_trades '''

In [32]:
count_trades = pd.read_sql(query,engine)  # Execute the query

In [33]:
counting = count_trades.to_dict()['count(*)'][0]  # Format the stuff
counting # Print output

1588680

In [ ]:
%time df = pd.read_sql(query,engine)
print(query)
df.tail()

In [ ]:
df['created_at'] = to_datetime(df['created_at'])

In [ ]:
print(query)

In [ ]:
df = pd.read_sql(query,engine)

In [ ]:
while y <= 1000000:   # While y is less or equal than 1 million
    query = '''

                             SELECT created_at, price
                             FROM btc_trades 
                             ORDER BY created_at DESC
                             LIMIT {},{}


'''.format(x,y)      # Initial parameters x=> 0; y=> 250000
    df = pd.read_sql(query,engine)   # Retrieve data from trades db
    
    df['created_at'] = to_datetime(df['created_at'])
    df['date'] = df['created_at'].dt.date
    df['time'] = df['created_at'].dt.time
    
    intial_q = """INSERT INTO btc_trades
( created_at,date,time,price)
VALUES
"""
    values_q = ",".join(["""('{}','{}','{}','{}')""".format(
        row.created_at,
        row.date,
        row.time,
        row.price ) for idx, row in df.iterrows()])


    query = intial_q + values_q 

    engine2.execute(query)
    sleep(5)
    x = y
    y += y

In [ ]:
pwd

In [ ]:
test.to_csv('files/test.csv',index=False)

In [ ]:
test.info()

In [ ]:
test['created_at'] = to_datetime(test['created_at'])
test['date'] = test['created_at'].dt.date
test['time'] = test['created_at'].dt.time

In [ ]:
test[['date', 'time', 'price']].head(n=5)

In [ ]:
test.head(n=15)

In [ ]:
intial_q = """INSERT INTO btc_trades
( created_at,date,time,price)
VALUES
"""
values_q = ",".join(["""('{}','{}','{}','{}')""".format(
        row.created_at,
        row.date,
        row.time,
        row.price ) for idx, row in df.iterrows()])


query = intial_q + values_q 

engine2.execute(query)

In [ ]:
test[['date','time','price']].to_csv('files/date_time_testing2.csv',index=False)

In [ ]:
test.to_csv('files/180000_rows_btc_price.csv',index=False)

In [ ]:
import matplotlib as mpl

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.style.use('seaborn')

In [ ]:
mpl.rcParams['font.family'] = 'serif'

In [ ]:
%matplotlib inline

# One-Dimensional Data Sets

### The most fundamental, but nevertheless quite powerful, plotting function is plt.plot(). In principle, it needs two sets of numbers:

#### x values: A list or an array containing the x coordinates (values of the abscissa)

#### y values: A list or an array containing the y coordinates (value of the ordinate)

##### Load the data

In [ ]:
dataSet = pd.read_csv('files/90000_rows_btc_price.csv',parse_dates=['date'],index_col='date')

In [ ]:
dataSet.head()

In [ ]:
dataSet_two = pd.read_csv('files/180000_rows_btc_price.csv',parse_dates=['date'],index_col='date')

In [ ]:
dataSet_two.head()

In [ ]:
dataSet_two.tail()

In [ ]:
df = pd.concat([dataSet, dataSet_two])

In [ ]:
df

In [ ]:
df.plot(figsize=(10,6));

In [ ]:
from pandas_datareader import data as wb

In [ ]:
mydata = pd.DataFrame()
mydata = wb.DataReader('BTC-USD', data_source='yahoo', start='2021-04-05', end='2021-04-23')['Adj Close']

In [ ]:
mydata.plot(figsize=(10,6));

In [ ]:
test['date'] = pd.to_datetime(test['date'])

In [ ]:
test['week'] = test['date'].dt.isocalendar().week

In [ ]:
test.groupby(['week']).max()

In [ ]:
test.to_csv('files/test.csv',index=False)

# We need a class that process the request

In [ ]:
class req:
    def __init__(self,book):
        self.book = book
    def data(self):
        import requests
        return requests.get('https://api.bitso.com/v3/trades/?book='+self.book)

In [ ]:
def place():
    from sqlalchemy import create_engine
    import sqlite3
    coins = ['btc','eth','ltc']
    for coin in coins:
        bitcoin = req(coin+'_mxn')
        dat = bitcoin.data().json()['payload'] # Filter to only 'payload' data.
        print(dat) 
place()

In [ ]:
import sqlite3
con = sqlite3.connect('mydata.sqlite')

In [ ]:
con

In [ ]:
query = 'show tables;'

In [ ]:
con.execute(query)