# Classes

In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
class req:
    def __init__(self,book):
        self.book = book
    def data(self):
        response = requests.get('https://api.bitso.com/v3/trades/?book='+self.book)
        dat = response.json()['payload']
        df = pd.DataFrame(dat)
        df['created_at'] = pd.to_datetime(df['created_at'])
        df['created_at'] = df['created_at'].dt.tz_convert('America/Tijuana')
        return df

In [3]:
test = req('btc_mxn').data()

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   book        100 non-null    object
 1   created_at  100 non-null    datetime64[ns, America/Tijuana]
 2   amount      100 non-null    object
 3   maker_side  100 non-null    object
 4   price       100 non-null    object
 5   tid         100 non-null    int64
dtypes: datetime64[ns, America/Tijuana](1), int64(1), object(4)
memory usage: 4.8+ KB

In [5]:
test

,book,created_at,amount,maker_side,price,tid
0,btc_mxn,2021-04-16 12:47:23-07:00,0.00037824,sell,1234359.08,30431651
1,btc_mxn,2021-04-16 12:47:22-07:00,0.00000810,sell,1234444.28,30431646
2,btc_mxn,2021-04-16 12:47:20-07:00,0.00162027,sell,1234363.27,30431643
3,btc_mxn,2021-04-16 12:47:19-07:00,0.00000405,sell,1234363.27,30431640
4,btc_mxn,2021-04-16 12:47:19-07:00,0.07179856,sell,1234363.27,30431639
...,...,...,...,...,...,...
95,btc_mxn,2021-04-16 12:42:18-07:00,0.00004859,sell,1234711.80,30431081
96,btc_mxn,2021-04-16 12:42:12-07:00,0.00264100,buy,1233309.26,30431072
97,btc_mxn,2021-04-16 12:42:11-07:00,0.00004048,sell,1235074.15,30431068
98,btc_mxn,2021-04-16 12:42:10-07:00,0.00202417,sell,1235074.15,30431067
99,btc_mxn,2021-04-16 12:42:07-07:00,0.00344962,sell,1235499.62,30431062

In [ ]:
print(y)

In [ ]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
import requests

In [ ]:
engine = sql.create_engine('mysql+mysqlconnector://tom:123@192.168.1.74:3306/trades')

In [ ]:
query = 'select * from btc_trades order by created_at desc limit 0,15'

In [ ]:
query_case = '''

                             SELECT case when created_at like '%-07:00' then left(created_at, 16) end as 'date',
                             price
                             FROM btc_trades 
                             ORDER BY created_at DESC
                             LIMIT 0,10


'''

In [ ]:
query_where = '''

                             SELECT case when created_at like '%-07:00' then left(created_at, 19) end as 'date',
                             price
                             FROM btc_trades 
                             LIMIT 0, 
                             


'''

In [ ]:
test = pd.read_sql(query_where,engine)

In [ ]:
test['date'] = pd.to_datetime(test['date'])

In [ ]:
test['week'] = test['date'].dt.isocalendar().week

In [ ]:
test.groupby(['week']).max()

In [ ]:
test.to_csv('files/test.csv',index=False)

# We need a class that process the request

In [ ]:
class req:
    def __init__(self,book):
        self.book = book
    def data(self):
        import requests
        return requests.get('https://api.bitso.com/v3/trades/?book='+self.book)

In [ ]:
def place():
    from sqlalchemy import create_engine
    import sqlite3
    coins = ['btc','eth','ltc']
    for coin in coins:
        bitcoin = req(coin+'_mxn')
        dat = bitcoin.data().json()['payload'] # Filter to only 'payload' data.
        print(dat) 
place()

In [ ]:
import sqlite3
con = sqlite3.connect('mydata.sqlite')

In [ ]:
con

In [ ]:
query = 'show tables;'

In [ ]:
con.execute(query)