In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
import requests
from pandas import to_datetime
from time import sleep

In [2]:
engine = sql.create_engine('mysql+mysqlconnector://tom:123@192.168.1.74:3306/trades')

In [3]:
engine2 = sql.create_engine('mysql+mysqlconnector://tom:123@192.168.1.74:3306/trades2')

In [ ]:
x = 0  # Offset
y = 250000  # Number of rows

while x <= 1000000:
    #print('x equals: {}'.format(x), 'y equals: {}'.format(y))
    query = '''

                            SELECT LEFT(created_at, 19)  AS created_at,
                 price,maker_side,amount,pesos
                 FROM btc_trades ORDER BY created_at DESC
                 LIMIT {}, {}


'''.format(x,y)    # Initial parameters x=> 0; y=> 250,000
    
    print(query)
    
    df = pd.read_sql(query,engine)   # Retrieve data from trades db
    
    #df.info()
    
    df['created_at'] = to_datetime(df['created_at'])
    df['date'] = df['created_at'].dt.date
    df['time'] = df['created_at'].dt.time
     
    df.info()
    
    intial_q = """INSERT INTO btc_test
( created_at,date,time,price)
VALUES
"""
    values_q = ",".join(["""('{}','{}','{}','{}')""".format(
        row.created_at,
        row.date,
        row.time,
        row.price ) for idx, row in df.iterrows()])

    query = intial_q + values_q 

    engine2.execute(query)
    
    x += 250000   # Offset increases by 250,000 each time.

#  Query to count total of rows

In [4]:
query = '''select count(*) from btc_trades '''

In [5]:
count_trades = pd.read_sql(query,engine)  # Execute the query on trades db.

In [6]:
counting = count_trades.to_dict()['count(*)'][0]  # Format the stuff.
counting # Print output

1589045