In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
import requests

In [2]:
engine = sql.create_engine('mysql+mysqlconnector://tom:123@192.168.1.74:3306/trades')

In [3]:
engine2 = sql.create_engine('mysql+mysqlconnector://tom:123@192.168.1.74:3306/trades2')

#  Query to count total of rows

In [4]:
query = '''select count(*) from btc_trades '''

In [5]:
count_trades = pd.read_sql(query,engine)  # Execute the query

In [6]:
counting = count_trades.to_dict()['count(*)'][0]  # Format the stuff

In [7]:
counting # Print output

1571638

In [40]:
print(query_case)

                             SELECT created_at, price
                             FROM btc_trades
                             ORDER BY created_at DESC
                             LIMIT 2,4

In [48]:
x = 0
y = 250000

In [49]:
while y <= 10:
    print('{} Hello World'.format(y))
    y += 1

4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World
10 Hello World

In [ ]:
while y <= 1000000:   # While y is less or equal than 1 million

In [39]:
query_case = '''

                             SELECT created_at, price
                             FROM btc_trades 
                             ORDER BY created_at DESC
                             LIMIT {},{}


'''.format(x,y)

In [59]:
query_case = '''

                             SELECT created_at, price
                             FROM btc_trades 
                             ORDER BY created_at DESC
                             LIMIT 0,250000


'''

In [60]:
test = pd.read_sql(query_case,engine)

In [ ]:
#test = pd.read_sql(query_case,engine,index_col='created_at') Only for reference of index_col

In [26]:
pwd

'/home/mrrobot/Documents/Notebooks'

In [28]:
test.to_csv('files/test.csv',index=False)

In [63]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  250000 non-null  datetime64[ns, pytz.FixedOffset(-420)]
 1   price       250000 non-null  float64
 2   date        250000 non-null  object
 3   time        250000 non-null  object
dtypes: datetime64[ns, pytz.FixedOffset(-420)](1), float64(1), object(2)
memory usage: 7.6+ MB

In [53]:
from pandas import to_datetime

In [62]:
test['created_at'] = to_datetime(test['created_at'])
test['date'] = test['created_at'].dt.date
test['time'] = test['created_at'].dt.time

In [51]:
test[['date', 'time', 'price']].head(n=5)

         date      time     price
0  2020-11-23  12:01:16  371500.0
1  2020-11-23  12:01:47  371141.0
2  2020-11-23  12:01:55  371667.0
3  2020-11-23  12:01:57  371190.0
4  2020-11-23  12:02:01  371191.0

In [56]:
test.head(n=15)

                  created_at      price        date      time
0  2021-04-28 22:29:55-07:00  1074300.0  2021-04-28  22:29:55
1  2021-04-28 22:29:17-07:00  1074300.0  2021-04-28  22:29:17
2  2021-04-28 22:29:01-07:00  1074300.0  2021-04-28  22:29:01
3  2021-04-28 22:28:48-07:00  1074300.0  2021-04-28  22:28:48
4  2021-04-28 22:28:47-07:00  1073000.0  2021-04-28  22:28:47
5  2021-04-28 22:28:31-07:00  1072640.0  2021-04-28  22:28:31
6  2021-04-28 22:28:19-07:00  1072640.0  2021-04-28  22:28:19
7  2021-04-28 22:28:15-07:00  1074300.0  2021-04-28  22:28:15
8  2021-04-28 22:27:47-07:00  1074010.0  2021-04-28  22:27:47
9  2021-04-28 22:27:46-07:00  1074010.0  2021-04-28  22:27:46
10 2021-04-28 22:27:45-07:00  1074010.0  2021-04-28  22:27:45
11 2021-04-28 22:27:23-07:00  1074020.0  2021-04-28  22:27:23
12 2021-04-28 22:26:39-07:00  1074020.0  2021-04-28  22:26:39
13 2021-04-28 22:26:37-07:00  1074020.0  2021-04-28  22:26:37
14 2021-04-28 22:26:23-07:00  1072310.0  2021-04-28  22:26:23

In [64]:
intial_q = """INSERT INTO btc_trades
( created_at,date,time,price)
VALUES
"""
values_q = ",".join(["""('{}','{}','{}','{}')""".format(
        row.created_at,
        row.date,
        row.time,
        row.price ) for idx, row in test.iterrows()])

end_q = """ ON DUPLICATE KEY UPDATE
    created_at = values(created_at),
    amount = values(amount),
    maker_side = values(maker_side),
    price = values(price),
    pesos = values(pesos); """

query = intial_q + values_q 

engine2.execute(query)

In [12]:
test[['date','time','price']].to_csv('files/date_time_testing2.csv',index=False)

In [ ]:
test.to_csv('files/180000_rows_btc_price.csv',index=False)

In [ ]:
import matplotlib as mpl

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.style.use('seaborn')

In [ ]:
mpl.rcParams['font.family'] = 'serif'

In [ ]:
%matplotlib inline

# One-Dimensional Data Sets

### The most fundamental, but nevertheless quite powerful, plotting function is plt.plot(). In principle, it needs two sets of numbers:

#### x values: A list or an array containing the x coordinates (values of the abscissa)

#### y values: A list or an array containing the y coordinates (value of the ordinate)

##### Load the data

In [ ]:
dataSet = pd.read_csv('files/90000_rows_btc_price.csv',parse_dates=['date'],index_col='date')

In [ ]:
dataSet.head()

In [ ]:
dataSet_two = pd.read_csv('files/180000_rows_btc_price.csv',parse_dates=['date'],index_col='date')

In [ ]:
dataSet_two.head()

In [ ]:
dataSet_two.tail()

In [ ]:
df = pd.concat([dataSet, dataSet_two])

In [ ]:
df

In [ ]:
df.plot(figsize=(10,6));

In [ ]:
from pandas_datareader import data as wb

In [ ]:
mydata = pd.DataFrame()
mydata = wb.DataReader('BTC-USD', data_source='yahoo', start='2021-04-05', end='2021-04-23')['Adj Close']

In [ ]:
mydata.plot(figsize=(10,6));

In [ ]:
test['date'] = pd.to_datetime(test['date'])

In [ ]:
test['week'] = test['date'].dt.isocalendar().week

In [ ]:
test.groupby(['week']).max()

In [ ]:
test.to_csv('files/test.csv',index=False)

# We need a class that process the request

In [ ]:
class req:
    def __init__(self,book):
        self.book = book
    def data(self):
        import requests
        return requests.get('https://api.bitso.com/v3/trades/?book='+self.book)

In [ ]:
def place():
    from sqlalchemy import create_engine
    import sqlite3
    coins = ['btc','eth','ltc']
    for coin in coins:
        bitcoin = req(coin+'_mxn')
        dat = bitcoin.data().json()['payload'] # Filter to only 'payload' data.
        print(dat) 
place()

In [ ]:
import sqlite3
con = sqlite3.connect('mydata.sqlite')

In [ ]:
con

In [ ]:
query = 'show tables;'

In [ ]:
con.execute(query)